<div class="frzTable@(model.Modifier != null ? ' ' + model.Modifier : '') row">
	<div class="slide_btn slide_left"><i class="icon ic-ln">&#xe608;</i></div>
    <div class="slide_btn slide_right"><i class="icon ic-ln">&#xe63e;</i></div>
    <table class="scroll_left col-xs-24">
    	<!-- your code here -->
    @* 	 @model.Data  *@
    	<tbody class="col-xs-24">
    		<tr class="col-xs-24">
    			<td class="col-xs-2">
                    <div class="grayBox"></div>
                    <div class="grayBox"></div>
                    <div class="grayBox"></div>
                    <div class="grayBox"></div>
                    <div class="grayBox"></div>
                    <div class="grayBox"></div>
                </td>
    			<td class="col-xs-21 overH">
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                        <div class="content_box">
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                            <div class="content_box2"></div>
                        </div>
                    @* <div class="content_box">
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                        <div class="content_box2"></div>
                    </div> *@
                </td>
                
    		</tr>
    	</tbody>
    </table>
</div>