/**
 * Import core mixins, variables, or others
 */
/**
 * Define your classname
 */
/*
 * Start your css code
 */
.cmg_coli > *:after {
  content: "";
  display: block;
  clear: both;
}

.cmg_coli .btn-1 {
  width: 58px;
  height: 18px;
  border-radius: 3px;
  background-color: #ff615d;
  line-height: 18px;
  text-align: center;
  font-family: MicrosoftJhengHei;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(34, 34, 34, 0.2);
}

.cmg_coli .btn-2 {
  width: 33px;
  height: 18px;
  border-radius: 3px;
  background-color: #ff8400;
  color: #fff;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
}

.cmg_coli .title {
  width: 132px;
  height: 46px;
  position: relative;
}

.cmg_coli .title h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0;
}

.cmg_coli .title .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #ffe0e0;
  border-radius: 50%;
}

.cmg_coli .left-content,
.cmg_coli .right-content {
  float: left;
}

.cmg_coli ul {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-right: 10px;
}

.cmg_coli ul:last-child {
  margin-right: 0;
}

.cmg_coli ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  padding: 0 10px;
}

.cmg_coli ul li:first-child {
  border-top: 1px solid #dddddd;
}

.cmg_coli ul li:nth-child(even) {
  background-color: #f4f3ea;
}

.cmg_coli ul li .flag {
  outline: 1px solid red;
  width: 8px;
  height: 13px;
}

.cmg_coli ul li .inside-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cmg_coli ul li .inside-left * {
  margin-right: 5px;
}

.cmg_coli ul li .inside-left .text {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #222222;
}

.cmg_coli ul li .inside-left .text.red {
  color: #e10500;
}

.cmg_coli ul li .inside-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cmg_coli ul li .inside-right .price {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #e10500;
  margin-right: 5px;
}

@media screen and (min-width: 980px) {
  .cmg_coli ul {
    width: calc(50% - 5px);
  }
  .cmg_coli ul .left-content,
  .cmg_coli ul .right-content {
    float: none;
  }
  .cmg_coli ul li .inside-left .text {
    font-size: 16px;
  }
  .cmg_coli ul li .inside-right .price {
    font-size: 18px;
  }
  .cmg_coli .btn-1 {
    width: 72px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }
  .cmg_coli .btn-2 {
    width: 35px;
    height: 24px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=css.css.map */