/**
 * Import core mixins, variables, or others
 */
@import "../core/core/mixins";
@import "../core/core/variables";
/**
 * Define your classname
 */
$classname: "cmg_coli";
/*
 * Start your css code
 */
$color-border: #dddddd;
$color-liBG: #f4f3ea;

.#{$classname} {
  // display: block;

  .btn-1 {
    padding: 3px 5px;
    // width: 58px;
    // height: 18px;
    border-radius: 3px;
    background-color: #ff615d;
    // line-height: 18px;
    text-align: center;
    font-family: MicrosoftJhengHei;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(34, 34, 34, 0.2);
    // background-color: var(--grapefruit);
  }

  .btn-2 {
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #ff8400;
    color: #fff;
    font-family: Verdana;
    font-size: 12px;
    // line-height: 18px;
    text-align: center;
    // background-color: var(--pumpkin-orange);
  }

  .title {
    width: 132px;
    height: 46px;
    position: relative;
    h1 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 0;
    }
    .circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      background-color: #ffe0e0;
      border-radius: 50%;
    }
  }

  // .gray {
  //   font-size: 12px;
  //   font-weight: normal;
  //   font-style: normal;
  //   font-stretch: normal;
  //   letter-spacing: normal;
  //   color: #222222;
  // }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    li {
      position: relative;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      margin-bottom: -1px;
      float: left;
      font-size: 16px;
      padding: 0 10px;
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.col-1,
      &.col-2,
      &.col-3 {
        width: 100%;
      }
      &:nth-child(even) {
        background-color: $color-liBG;
      }
      .flag {
        width: 24px;
        height: 24px;
        background: url("/images/flag@3x.png") no-repeat center;
        background-size: 90%;
      }
      .inside-left {
        padding: 8px 0;
        font-family: MicrosoftJhengHei;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #222222;
        overflow: hidden;
        margin-right: 20px;
        max-height: 60px; // line-height: 1.5;
        //   &.twoLineHeight {
        //   height: 60px;
        // }
        > * {
          margin-right: 5px;
          float: left;
        }
      }
      .inside-right {
        // outline: 1px solid blue;
        display: flex;
        align-items: center;
        .price {
          font-family: Verdana;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: right;
          color: #e10500;
          // color: var(--red);
          margin-right: 5px;
        }
      }
    }
  }
  // style on phone device
  @media screen and (min-width: $screen-tablet) {
    // style on tablet device
  }
  @media screen and (min-width: $screen-desktop) {
    // style on desktop device
    ul {
      li {
        margin-right: 10px;
        .inside-left {
          padding: 13px 0;
          word-wrap: break-word;
          overflow: hidden;
          white-space: nowrap; // 字死都不換行
          // text-overflow: ellipsis; // 多的字 ... 取代
          cursor: pointer;
          height: 50px;
          margin-right: 20px;
        }
        .inside-right {
          .price {
            font-size: 18px;
          }
        }

        &:hover .inside-left {
          color: red;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
        &.col-1 {
          width: 100%;
          &:nth-child(even) {
            background-color: $color-liBG;
          }
        }
        &.col-2 {
          width: calc(100% / 2 - 5px);
          &:nth-child(3) {
            background-color: $color-liBG;
          }
          &:nth-child(4) {
            background-color: $color-liBG;
          }
          &:nth-child(7) {
            background-color: $color-liBG;
          }
          &:nth-child(8) {
            background-color: $color-liBG;
          }
          &:nth-child(even) {
            margin-right: 0;
          }
        }
        &.col-3 {
          width: calc(100% / 3 - 7px);
          &:nth-child(4) {
            background-color: $color-liBG;
          }
          &:nth-child(5) {
            background-color: $color-liBG;
          }
          &:nth-child(6) {
            background-color: $color-liBG;
          }
          &:nth-child(10) {
            background-color: $color-liBG;
          }
          &:nth-child(3) {
            margin-right: 0;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
          &:nth-child(9) {
            margin-right: 0;
          }
        }
      }
    }
    .btn-1 {
      // padding: 3px 10px;
      padding: 0;
      width: 72px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
    }
    .btn-2 {
      // padding: 3px 10px;
      padding: 0;
      width: 45px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
    }
  }
  @media screen and (min-width: $screen-lg-desktop) {
    // style on desktop device
  }

  &_modifier {
  }
  & > .#{$classname}_child {
  }
  & .#{$classname}_descendant {
  }
}
