/**
 * Import core mixins, variables, or others
 */
@import '../core/core/mixins';
@import '../core/core/variables';
/**
 * Define your classname
 */
$classname: 'cmg_coli';
/*
 * Start your css code
 */
$color-border: #dddddd;
$color-liBG: #f4f3ea;

.#{$classname} {
    .bt_conx {
        margin: 10px auto;
    }

    .title {
        width: 132px;
        height: 46px;
        position: relative;
        h1 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            padding: 0;
        }
        .circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            background-color: #ffe0e0;
            border-radius: 50%;
        }
    }

    > ul {
        padding: 0;
        margin: 0;
        width: 100%;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        > li {
            position: relative;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
            margin-bottom: -1px;
            float: left;
            padding: 0 10px;
            > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &.arrangement-1,
            &.arrangement-2,
            &.arrangement-3 {
                width: 100%;
            }
            &:nth-child(even) {
                background-color: $color-liBG;
            }
            &:nth-child(n + 11) {
                display: none;
            }
            .flag {
                width: 20px;
                height: 20px;
                background: url('/magaele/cmg_coli/images/flag@3x.png')
                    no-repeat center;
                background-size: 90%;
            }
            > .inside-left {
                // font-family: MicrosoftJhengHei;
                // outline: 1px solid red;
                width: 60%;
                padding: 8px 0;
                margin-right: 20px;
                font-weight: bold;
                letter-spacing: normal;
                color: #222222;
                overflow: hidden;
                font-size: 14px;
                // margin-right: 20px;
                max-height: 55px;
                > * {
                    margin-right: 5px;
                    float: left;
                    font-weight: normal;
                }
            }
            > .inside-right {
                // outline: 1px solid blue;
                // width: 200px;
                width: calc(100% - 60% - 20px);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .price {
                    font-family: Verdana;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: normal;
                    text-align: right;
                    color: #e10500;
                    margin-right: 5px;
                }
                .gray {
                    font-size: 12px;
                }
            }
        }
    }
    // style on phone device
    @media screen and (min-width: $screen-tablet) {
        // style on tablet device
    }
    @media screen and (min-width: $screen-desktop) {
        // style on desktop device
        .bt_conx {
            display: none;
        }
        > ul {
            > li {
                margin-right: 10px;
                > .inside-left {
                    width: 65%;
                    padding: 13px 0;
                    word-wrap: break-word;
                    overflow: hidden;
                    white-space: nowrap; // 字死都不換行
                    // text-overflow: ellipsis; // 多的字 ... 取代
                    cursor: pointer;
                    height: 50px;
                    margin-right: 20px;
                }
                > .inside-right {
                    width: calc(100% - 65% - 20px);
                    .price {
                        font-size: 18px;
                    }
                }

                &:hover .inside-left {
                    color: red;
                }
                &:nth-child(even) {
                    background-color: #fff;
                }
                &:nth-child(n + 11) {
                    display: flex;
                }
                &.arrangement-1 {
                    width: 100%;
                    &:nth-child(even) {
                        background-color: $color-liBG;
                    }
                }
                &.arrangement-2 {
                    width: calc(100% / 2 - 5px);
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                    &:nth-child(4n + 3) {
                        background-color: $color-liBG;
                    }
                    &:nth-child(4n + 4) {
                        background-color: $color-liBG;
                    }
                }
                &.arrangement-3 {
                    width: calc(100% / 3 - 7px);
                    &:nth-child(6n + 4) {
                        background-color: $color-liBG;
                    }
                    &:nth-child(6n + 5) {
                        background-color: $color-liBG;
                    }
                    &:nth-child(6n + 6) {
                        background-color: $color-liBG;
                    }
                    &:nth-child(3n + 3) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $screen-lg-desktop) {
        // style on desktop device
    }

    &_modifier {
    }
    & > .#{$classname}_child {
    }
    & .#{$classname}_descendant {
    }
}
