$classname: "Fztable";
@import "_variables.scss";
// $table-inside-width: (100% / 8);
// $table-inside-heigth: 65px;
$color-line: #e2e2e2;
$bgc-top-month: #eaeef4;
$bgc-column-month: #eee;
$bgc-activeThis: #fff9e3;
$bgc-active: #f7f7f7;
$line-color-activeThis: #fe8b88;
$sale-color: #ff8e24;
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, "微軟正黑體", "Microsoft JhengHei", "微軟雅黑體", "Microsoft YaHei";
}

// mobile
##{$classname} {
  width: 100%;
  margin: 0 auto; // mobile
  .default,
  .rel {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    border-top: 1px solid $color-line;
    border-left: 1px solid $color-line;
    .next,
    .prev {
      width: 25px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      z-index: 1;
      font-size: 20px;
      color: white;
      cursor: pointer;
      &.hidden {
        display: none;
      }
    }
    .next {
      right: 0;
    }
    .prev {
      left: 100px;
    }
    .left {
      .BackAndGo {
        width: 100px;
        height: 65px; // width: $table-inside-width;
        // height: $table-inside-heigth;
        // outline: 1px solid $color-line;
        border-bottom: 1px solid $color-line;
        border-right: 1px solid $color-line;
        position: relative;
        span {
          position: absolute;
          &:nth-child(1) {
            bottom: 5px;
            left: 5px;
          }
          &:nth-child(2) {
            top: 5px;
            right: 5px;
          }
        }
      } // BackAndGo end
      >ul {
        li {
          width: 100px;
          height: 65px;
          line-height: 65px; // width: $table-inside-width;
          border-bottom: 1px solid $color-line;
          border-right: 1px solid $color-line; // height: $table-inside-heigth;
          // outline: 1px solid $color-line;
        }
      }
    } // left end
    .right {
      position: relative;
      flex: 1;
      overflow: hidden; // min-width: 600px;
      .slider-move {
        .gray {
          color: gray;
        }
        position: relative; // transition: all 1s ease-in-out;
        >ul {
          display: flex; // border-bottom: 1px solid $color-line;
          li {
            cursor: pointer;
            height: 65px;
            line-height: 65px;
            border-bottom: 1px solid $color-line;
            border-right: 1px solid $color-line;
            &.active {
              background-color: $bgc-active;
            }
            &.activeThis {
              border: 1px solid $line-color-activeThis;
              background-color: $bgc-activeThis;
            }
          }
        } // right ul end
        .rowStyle {
          li {
            cursor: auto;
          }
        }
      }
    }
    .rowStyle,
    .BackAndGo {
      background-color: $bgc-top-month;
    }
    .columnStyle {
      background-color: $bgc-column-month;
    }
  } // default end
  // pc
  @media screen and (min-width: $screen-tablet) {
    width: 90%;
    .default,
    .rel {
      .right {
        ul,
        li {
          width: auto;
          flex: 1;
        }
      }
      .next,
      .prev {
        display: none;
      }
    }
  } // 最便宜　class
  .sale {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent $sale-color transparent;
      transform: rotate(-45deg);
    }
    &:after {
      content: "最便宜";
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      flex: 1;
      color: $sale-color;
      position: absolute;
      top: -3px;
      left: 25px;
    }
  }
}

// ##{$classname} {
//   // outline: 1px solid #f00;
//   table {
//     width: 80%;
//     margin: auto;
//     text-align: center;
//     border-collapse: collapse;
//     tr {
//       height: 64px;
//       th,
//       td {
//         outline: 1px solid $color-line;
//       }
//       td {
//         cursor: pointer;
//         &.activeThis {
//           outline: 1px solid $line-color-activeThis;
//           background-color: $bgc-activeThis;
//         }
//         &.active {
//           background-color: $bgc-active;
//         }
//       }
//     }
//     thead {
//       background-color: $bgc-top-month;
//     }
//     tbody {
//       th {
//         background-color: $bgc-column-month;
//       }
//     }
//     .BackAndGo {
//       position: relative;
//       span {
//         position: absolute;
//         &:nth-child(1) {
//           bottom: 5px;
//           left: 5px;
//         }
//         &:nth-child(2) {
//           top: 5px;
//           right: 5px;
//         }
//       }
//     }
//   }
// }