$classname: "Fztable";
@import "_variables.scss";
// $table-inside-width: (100% / 8);
// $table-inside-heigth: 65px;

$color-line: #e2e2e2;
$bgc-top-month: #eaeef4;
$bgc-column-month: #eee;
$bgc-activeThis: #fff9e3;
$bgc-active: #f7f7f7;
$line-color-activeThis: #fe8b88;

* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, "微軟正黑體", "Microsoft JhengHei", "微軟雅黑體",
    "Microsoft YaHei";
}

##{$classname} {
  // mobile
  .default {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    outline: 1px solid $color-line;
    text-align: center;
    .next,
    .prev {
      width: 25px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      z-index: 1;
      font-size: 20px;
      color: white;
    }
    .next {
      right: 0;
    }
    .prev {
      left: 80px;
    }
    .left {
      .BackAndGo {
        width: 80px;
        height: 65px;
        // width: $table-inside-width;
        // height: $table-inside-heigth;
        outline: 1px solid $color-line;
        position: relative;
        span {
          position: absolute;
          &:nth-child(1) {
            bottom: 5px;
            left: 5px;
          }
          &:nth-child(2) {
            top: 5px;
            right: 5px;
          }
        }
      } // BackAndGo end
      > ul {
        li {
          width: 80px;
          height: 65px;
          line-height: 65px;
          // width: $table-inside-width;
          // height: $table-inside-heigth;
          outline: 1px solid $color-line;
        }
      }
    } // left end
    .right {
      position: relative;
      flex: 1;
      overflow: auto;
      // min-width: 600px;
      .slider-move {
        position: relative;
        > ul {
          display: flex;
          li {
            height: 65px;
            outline: 1px solid $color-line;
            // flex: 1;
          }
        } // right ul end
      }
    }
  } // default end
  // pc
  @media screen and (min-width: $screen-tablet) {
    .default {
      width: 767px;
      // outline: 1px solid red;
      .right {
        ul,
        li {
          width: auto;
          flex: 1;
        }
      }
      .next,
      .prev {
        display: none;
      }
    }
  }
}

// ##{$classname} {
//   // outline: 1px solid #f00;
//   table {
//     width: 80%;
//     margin: auto;
//     text-align: center;
//     border-collapse: collapse;
//     tr {
//       height: 64px;
//       th,
//       td {
//         outline: 1px solid $color-line;
//       }
//       td {
//         cursor: pointer;
//         &.activeThis {
//           outline: 1px solid $line-color-activeThis;
//           background-color: $bgc-activeThis;
//         }
//         &.active {
//           background-color: $bgc-active;
//         }
//       }
//     }
//     thead {
//       background-color: $bgc-top-month;
//     }
//     tbody {
//       th {
//         background-color: $bgc-column-month;
//       }
//     }
//     .BackAndGo {
//       position: relative;
//       span {
//         position: absolute;
//         &:nth-child(1) {
//           bottom: 5px;
//           left: 5px;
//         }
//         &:nth-child(2) {
//           top: 5px;
//           right: 5px;
//         }
//       }
//     }
//   }
// }
