/**
 * Import core mixins, variables, or others
 */
@import "../core/core/mixins";
@import "../core/core/variables";
/**
 * Define your classname
 */
$classname: "lb_conl";
/**
 * Start your css code
 * 1. 請在您模組的所有selector都要以模組的classname為前綴名稱
 * 2. 在設計RWD時，請在每個selector內加上media query，而不是在media query內有selector
 * 3. 下media query時請依手機優先的設計方法來設計
 */
.#{$classname} {
  // style on phone device
  &.lb_conl_1 {
    // font-family: MicrosoftJhengHei;
    width: 58px;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    background-color: #ff615d;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(34, 34, 34, 0.2);
  }
  &.lb_conl_2 {
    font-family: Verdana;
    width: 40px;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    background-color: #ff8400;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  @media screen and (min-width: $screen-tablet) {
    // style on tablet device
  }
  @media screen and (min-width: $screen-desktop) {
    // style on desktop device
    &.lb_conl_1 {
      // font-family: MicrosoftJhengHei;
      width: 72px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
    }
    &.lb_conl_2 {
      width: 42px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
    }
  }
  @media screen and (min-width: $screen-lg-desktop) {
    // style on desktop device
  }

  &_modifier {
  }
  & > .#{$classname}_child {
  }
  & .#{$classname}_descendant {
  }
}
